body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

button{
    border: 0;
    border-radius: 8px;
    background-color: cornflowerblue;
    padding: 12px 24px;
    font-size: 16px;
}